* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#42ff5fb7,#005d0e);
    padding: 0 !important;
}
.navbar-brand{
    height: 40px;
    padding-left: 20px;

}